<h1 class="text-center">official links</h1>
<div class="container">
    <div class="row">
         <div class="col-md-12">
    <h2 class="text-center titl">To know more about corona in general you can visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="btn btn-secondary" data-toggle="tooltip" data-placement="botton" title="click her">
        Word healht organization </a></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
<h2 class="text-center titl">To know more about corona in general you can visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="btn btn-secondary" data-toggle="tooltip" data-placement="botton" title="click her">
   Word healht organization </a></h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2 class="text-center titl">To know more about corona in general you can visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="btn btn-secondary" data-toggle="tooltip" data-placement="botton" title="click her">
Word healht organization </a></h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2 class="text-center titl">To know more about corona in general you can visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="btn btn-secondary" data-toggle="tooltip" data-placement="botton" title="click her">
Word healht organization </a></h2>
</div>
</div>
</div>
