<h2 class="text-center"> About us</h2>

<div class="container">
    <div class="bord">
        <h1>Blockquotes</h1>
        <p>To show the quote on the right use the class .blockquote-reverse:</p>
        <blockquote class="blockquote-reverse">
            <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation
                organization, WWF works in 100 countries and is supported by 1.2 million members in the United States
                and close to 5 million globally.</p>
            <footer>From WWF's website</footer>
        </blockquote>
    </div>
</div>