<div class="container">
    <h2 class="text-center titl">Frequently Asked Questions about COVID-19 Vaccination</h2>
    <div class="col-md-12 text-right">
    <button class="btn  btn-outline-dark btn-lg btn-sm mb-2" type="button" data-toggle="collapse"
        data-target=".multi-collapse" aria-expanded="false"
        aria-controls="multiCollapseExample1 multiCollapseExample2">show all answers</button></div>
    <a class="btn btn-primary col-md-6 mb-2 text-center" data-toggle="collapse" href="#multiCollapseExample1" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">What if I lost my vaccination card?</a>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                If you have lost your vaccination card or don’t have a copy, contact your vaccination provider
                site where you received your vaccine to access your vaccination record.
            </div>
        </div>
    </div>
    <button class="btn btn-primary col-md-6 mb-2" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Is it
        safe for my child to get covid-19 vaccine? </button>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                Yes. Studies show that COVID-19 vaccines are safe and effective. Like adults, children may have
                some side effects after COVID-19 vaccination. These side effects may affect their ability to do
                daily activities, but they should go away in a few days. Children 12 years and older are now
                eligible to get vaccinated against COVID-19. COVID-19 vaccines have been used under the most
                intensive safety monitoring in U.S. history, including studies in children 12 years and older.
            </div>
        </div>
    </div>
    <button class="btn btn-primary col-md-6 mb-2" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Why
        shold my child to get vaccinated against covid-19?</button>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body">
                COVID-19 vaccination can help protect your child from getting COVID-19. Although fewer children
                have been sick with COVID-19 compared to adults, children can be infected with the virus that
                causes COVID-19, can get sick from COVID-19, and can spread the virus that causes COVID-19 to
                others. Getting your child vaccinated helps to protect your child and your family. Vaccination
                is now recommended for everyone 12 years and older. Currently, the Pfizer-BioNTech COVID-19
                Vaccine is the only one available to children 12 years and older.
            </div>
        </div>
    </div>
    <button class="btn btn-primary col-md-6 mb-2" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">Can I
        choose which covid-19 vaccine I get?</button>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample5">
            <div class="card card-body">
                Yes. All currently authorized and recommended COVID-19 vaccines are safe and effective, and CDC
                does not recommend one vaccine over another. The most important decision is to get a COVID-19
                vaccination as soon as possible. Widespread vaccination is a critical tool to help stop the
                pandemic.

                People should be aware that a risk of a rare condition called thrombosis with thrombocytopenia
                syndrome (TTS) has been reported following vaccination with the J&J/Janssen COVID-19 Vaccine.
                TTS is a serious condition that involves blood clots with low platelet counts. This problem is
                rare, and most reports were in women between 18 and 49 years old. For women 50 years and older
                and men of any age, this problem is even more rare. There are other COVID-19 vaccine options
                available for which this risk has not been seen (Pfizer-BioNTech, Moderna).
            </div>
        </div>
    </div>
    <button class="btn btn-primary col-md-6 mb-2" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">How
        long does protection from a covid-19 Vaccine last?</button>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample6">
            <div class="card card-body">
                We don’t know how long protection lasts for those who are vaccinated. What we do know is that
                COVID-19 has caused very serious illness and death for a lot of people. If you get COVID-19, you
                also risk giving it to loved ones who may get very sick. Getting a COVID-19 vaccine is a safer
                choice.

                Experts are working to learn more about both natural immunity and vaccine-induced immunity. CDC
                will keep the public informed as new evidence becomes available.
            </div>
        </div>
    </div>
    <button class="btn btn-primary col-md-6 mb-2" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7">How many doses needed depanded of covid-19 Vaccine will I need to get?</button>
    <div class="col-md-6">
        <div class="collapse multi-collapse" id="multiCollapseExample7">
            <div class="card card-body">
                The number of doses needed depends on which vaccine you receive. To get the most protection:

                <ul>
                    <li> Two Pfizer-BioNTech vaccine doses should be given 3 weeks (21 days) apart.</li>
                    <li>Two Moderna vaccine doses should be given 1 month (28 days) apart.</li>
                    <li> Johnson & Johnsons Jansen (J&J/Janssen) COVID-19 vaccine requires only one dose.</li>
                </ul>
                If you receive a vaccine that requires two doses, you should get your second shot as close to
                the recommended interval as possible. However, your second dose may be given up to 6 weeks (42
                days) after the first dose, if necessary. You should not get the second dose earlier than the
                recommended interval.
            </div>
        </div>
    </div>

</div>