<div class="container-fluid">
    <div class="testbox">
        <form>
            <legend>Add New Center</legend>
            <div class="item">
                <label for="fname">Name:<span>*</span></label>
                <input id="fname" type="text" >
               
            </div>
            <div class="item">
                <label for="activity">location:<span>*</span></label>
                <input id="activity" type="text" name="activity" />
            </div>
           
                <div class="item">
                    <h6>Vaccination type</h6>
                   <select >
                        <option selected value="" disabled selected></option>
                        <option value="1">فايزر</option>
                        <option value="2">سينوفارم</option>
                        <option value="3">انتيبيونير</option>
                        <option value="4">كلوفارم</option>
                    </select>
                </div>
                <div class="item">
                    <label for="bdate">Start Date <span>*</span></label>
                    <input id="bdate" type="date" name="bdate" />
                
                </div>
                
                <div class="btn-block">
                    <button type="submit" href="/">Add</button>
                  </div>

            
              

    </form>
   

</div>

</div>

<p>{{ name }}</p>